@import url('https://fonts.googleapis.com/css2?family=WindSong:wght@500&display=swap');
* {
  margin: 0;
  padding: 0;
  background-color: #f8e0de;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

h1 {
  font-family: 'WindSong', cursive;
  text-align: center;
  font-size: 3rem;
  padding: 60px 0;
  color: #26223b;
}

.btn_festa, .btn_caseiro {
  width: 80%;
  margin: 0 auto;
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
}

/* 
.btn_caseiro {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
} */

a {
  padding: 20px;
  margin: 10px 0;
  text-align: center;
  font-size: 16px;
  background-color: #d38c88;
  color: #26223b;
  text-decoration: none;
  border: 2px solid #26223b;
  border-radius: 5px;
}

.container_festa {
  display: block;
  height: 0;
  transition: height 1s;
  position: relative;
  margin: 20px 10px;
  padding: 0;
  overflow: hidden;
}

.container_festa>div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container_caseiro {
  display: block;
  height: 0;
  transition: height 1s;
  position: relative;
  margin: 20px 10px;
  padding: 0;
  overflow: hidden;
}

.container_caseiro>div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content {
  display: flex;
  background-color: #5db0ad59;
  /* width: 80%; */
  margin: 0 auto;
  position: relative;
  padding: 30px;
  border-radius: 5px;
  border: 2px solid #fefefe;
}

.content>img {
  width: 50%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.container_caseiro>.content>img {
  width: 40%;
}

.container_caseiro>.content {
  padding: 30px 0;
}

.container_caseiro>.content>.content_text p:nth-child(1) {
  padding: 15px 0 0 0;
}

.content p:nth-child(3) {
  font-size: 10px;
  background-color: transparent;
  position: absolute;
  padding: 5px;
  top: 0;
  right: 0;
}

.content_text {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  /* padding-left: 30px; */
}

.content_text p {
  background-color: transparent;
  font-size: 0.9rem;
}

.content_text p:nth-child(1) {
  font-size: 1rem;
  font-weight: 700;
  /* width: 50%; */
  position: relative;
  padding: 15px 0;
}

.container_caseiro>.content>.content_text p {
  width: 100%;
}

.content_btn {
  position: relative;
}

.box {
  max-width: 1024px;
  padding: 20px;
  margin: 20px auto;
  font-size: 12px;
  text-align: left;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.box>div:nth-child(1) {
  /* width: 50%; */
}

.box>div:nth-child(2) {
  margin: 0 auto;
}

.box>div:nth-child(2)>p {
  text-align: center;
  padding-bottom: 20px;
}

.box>div:nth-child(2)>h2 {
  padding-top: 50px;
}

h2 {
  text-align: center;
  padding: 15px 0 30px;
  color: #26223b;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

form {
  max-width: 570px;
  margin: 0 auto;
}

input, textarea {
  font-size: 18px;
  width: 100%;
  resize: none;
  border: 2px solid #f3a4b975;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}

label {
  margin-bottom: 5px;
}

button {
  font-size: 15px;
  background-color: #26223b;
  color: #fff;
  padding: 8px 30px;
  margin: 10px 0 0 0;
  border-radius: 5px;
}

.footer {
  text-align: center;
  bottom: 0;
  left: 0;
  height: auto;
  width: 100%;
}

.footer p:nth-last-child(1) {
  font-size: 12px;
  padding-top: 20px;
  text-align: right;
}

@media (min-width: 408px) {
  h1 {
    padding: 60px 50px;
  }
}

@media (min-width: 765px) {
  h1 {
    padding: 60px 50px;
  }
  .btn_festa, .btn_caseiro {
    flex-direction: inherit;
    justify-content: space-around;
  }
}